/**
 * @name LDausLfication.
 * @author LDausL
 * @description Replaces almost every search icon with my face.
 * @version 1.0.0
 */

._0f0849b61557225e-icon {
    background-image: url("https://i.imgur.com/nA1Rw38.png");
    background-size: cover;
}

._0f0849b61557225e-icon>svg {
    display: none;
}
