    --startup-ascii:
"____            _                   _________   \A\
/ ___| _   _ ___| |_ ___ _ __ ___   |___ /___ \\  \A\
\\___ \\| | | / __| __/ _ \\ '_ ` _ \\    |_ \\ __) | \A\
 ___) | |_| \\__ \\ ||  __/ | | | | |  ___) / __/  \A\
|____/ \\__, |___/\\__\\___|_| |_| |_| |____/_____| \A\
       |___/                                        \A\
             From samtig_Stahl                        ";


     --avatar-border: 1px solid var(--neon-red-color); /* Border of avatar */
}
